/* || General setup */


html, body {
    margin: 0;
    padding: 0;
  }
  
  html {
    font-size: 10px;
    background-color: #a9a9a9;
  }
  
  body {
    width: 70%;
    min-width: 800px;
    margin: 0 auto;
  }
  
  /* || typography */
  
  h1, h2, h3 {
    font-family: 'Big Shoulders Stencil Display', cursive;
    letter-spacing: 5px;
    color: #2a2a2a;
  }
  
  p, input, li {
    font-family: 'Roboto Condensed', sans-serif;
    color: #2a2a2a;
  }
  
  h1 {
    font-size: 6rem;
    text-align: center;
    text-shadow: 2px 2px 0px red;
    /*border: solid 2px red;*/
  }
  
  h2 {
    font-size: 3rem;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  
  h3 {
    font-size: 2.2rem;
  }
  
  p, li {
    font-size: 1.6rem;
    line-height: 1.5;
  }
  
  /* || header layout */
  
  header {
    /*margin-bottom: 10px;*/
    display: flex;
    flex-flow: row wrap;
  }
  
  body > * {
    background-color: rgb(1, 196, 255);
    padding: 1%;
  }
  
  /*main, header, article, aside, footer {
    background-color: rgba(0,255,0,0.5);
    padding: 1%;
  }*/
  
  h1 {
    flex: 5;
    text-transform: uppercase;
    /*border: solid 2px blue;*/
  }
  
  header img {
    display: block;
    height: 80px;
    padding-top: 35.15px;
  }
  
  nav {
    height: 50px;
    flex: 100%;
    display: flex;
    border: solid 2px rgb(3, 63, 143);
    border-radius: 15px 15px 15px 15px;
  }
  
  nav ul {
    padding: 0;
    list-style-type: none;
    flex: 2;
    display: flex;
  }
  
  nav li {
    display: inline;
    text-align: center;
    flex: 1;
  }
  
  nav a, nav span {
    display: inline-block;
    font-size: 2rem;
    height: 3rem;
    line-height: 1.7;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
  
  }
  
  /* || main layout */
  
  main {
    display: flex;
  }
  
  article {
    flex: 4;
    padding: 1%;
    border: solid 2px rgb(3, 63, 143);
    border-radius: 15px 0px 0px 15px;
  }

  section {
      padding: 2%;
      text-align: center;
  }
  
  aside {
    flex: 1;
    margin-left: 10px;
    padding: 1%;
    border: solid 2px rgb(3, 63, 143);
    border-radius: 0px 15px 15px 0px;
  }
  
  aside a {
    display: block;
    float: left;
    width: 50%;
  }

  aside img {
      border: solid 3px rgb(3, 63, 143);
      border-radius: 100%;
  }
  
  aside img {
    width: 90%;
  }
  
  footer {
    /*margin-top: 10px;*/
    text-align: center;
  }
  hr {
    border: none;
    border-top: 2px solid red;
    text-align: center;
    height: 0px;
}
.box{
  width: auto;
  height: 300px;
  margin-top: 0px;
  border: solid 2px rgb(3, 63, 143);
  border-radius: 0px 0px 0px 15px;
  background-image: url(../images/flock-of-birds-and-beach.jpg);
  background-size: cover;
  background-color: rgba(7, 161, 250, 0.459);
  background-blend-mode: multiply;
}
.birdimage {
  width: auto;
  height: 200px;
  margin-top: 48px;
  border: solid 2px rgb(3, 63, 143);
  border-radius: 0px 0px 15px 0px;
  
}

.birdlogo {
  padding: 0px 50px 0px 50px;
}